Flask==2.0.3
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==2.0.3
argparse==1.4.0
gevent==22.10.2
greenlet==2.0.2
gunicorn==21.2.0
itsdangerous==2.0.1
msgpack==0.5.6
ujson==4.3.0
uWSGI==2.0.21
SharQ==1.2.0

