Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
Werkzeug==0.9.4
argparse==1.2.1
gevent==22.10.2
greenlet==2.0.2
gunicorn==19.0.0
itsdangerous==0.24
msgpack==0.5.6
ujson==2.0.0
uWSGI==2.0.21
SharQ==1.2.0

